<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:layoutUnit position="north" size="40" resizable="true" closable="true" collapsible="true">
        <center> My University </center>
    </p:layoutUnit>

    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
        <center> © Noor and Mim </center>
    </p:layoutUnit>

    <p:layoutUnit position="west" size="250" header="Options" collapsible="true">
        <p:menu>
                <p:menuitem value="Campus" url="campus.xhtml" />
                <p:menuitem value="School" url="school.xhtml" />
                <p:menuitem value="Faculty" url="faculty.xhtml" />
                <p:menuitem value="Lecturer" url="lecturer.xhtml" />
                <p:menuitem value="Student" url="student.xhtml" />
                <p:menuitem value="Committee" url="committee.xhtml" />
                <p:menuitem value="Programme" url="programme.xhtml" />
                <p:menuitem value="Course" url="course.xhtml" />
                <p:menuitem value="Pre-course" url="precourse.xhtml" />
                <p:menuitem value="Club" url="club.xhtml" />
                <p:menuitem value="Sports" url="sports.xhtml" />
                <p:menuitem value="Lectuer Committee" url="lecturer_committee.xhtml" />
                <p:menuitem value="Lectuer Course" url="lecturer_course.xhtml" />
                <p:menuitem value="Student Course" url="student_course.xhtml" />


        </p:menu>
    </p:layoutUnit>


</ui:composition>