<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Campus</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Campus" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Campus" /></center>
                                </f:facet>

                                <p:outputLabel for="campusName" value="Campus Name: " />
                                <p:inputText value="#{campusController.campus.campusName}" id="campusName" required="true" />

                                <p:outputLabel for="campusAddress" value="Campus Address: " />
                                <p:inputText value="#{campusController.campus.campusAddress}" id="campusAddress" required="true" />

                                <p:outputLabel for="distance" value="Distance: " />
                                <p:inputText value="#{campusController.campus.campusDistance}" id="distance" required="true" />

                                <p:outputLabel for="busNo" value="Bus No: " />
                                <p:inputText value="#{campusController.campus.busNo}" id="busNo" required="true" />

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{campusController.addCampus}" id="campusAddFormSubmit" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Campus List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="cam" value="#{campusController.campusList}" filteredValue="#{campusController.filteredCampus}" rowKey="#{cam.campusName}" selection="#{campusController.selectedCampus}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{campusController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{campusController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Campus Name" filterBy="#{cam.campusName}" filterMatchMode="contains">
                                        <h:outputText value="#{cam.campusName}" />
                                    </p:column>

                                    <p:column headerText="Address" filterBy="#{cam.campusAddress}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{cam.campusAddress}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{cam.campusAddress}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Distance" filterBy="#{cam.campusDistance}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{cam.campusDistance}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{cam.campusDistance}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Bus No" filterBy="#{cam.busNo}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{cam.busNo}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{cam.busNo}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{campusController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

