<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Committee</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="School" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Committee" /></center>
                                </f:facet>

                                <p:outputLabel for="title" value="Committee Title: " />
                                <p:inputText value="#{committeeController.committee.committeeTitle}" id="title" required="true" />

                                <p:outputLabel for="facultyName" value="Faculty Name: " />
                                <p:selectOneMenu id="facultyName" value="#{committeeController.committee.faculty}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="fac" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{committeeController.facultyList}" var="faculty" itemLabel="#{faculty.facultyName}" itemValue="#{faculty}" />
                                    <p:column>
                                        <h:outputText value="#{fac.facultyName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel for="meeting" value="Meeting Freq: " />
                                <p:inputText value="#{committeeController.committee.meetingFrequency}" id="meeting" required="true" />

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{committeeController.addCommittee}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="School List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="committee" value="#{committeeController.committeeList}" filteredValue="#{committeeController.filteredCommittees}" rowKey="#{committee}" selection="#{committeeController.filteredCommittees}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{committeeController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{committeeController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Committee Title" filterBy="#{committee.committeeTitle}" filterMatchMode="contains">
                                        <h:outputText value="#{committee.committeeTitle}" />
                                    </p:column>

                                    <p:column headerText="Faculty Name" filterBy="#{committee.faculty.facultyName}" filterMatchMode="contains">
                                        <h:outputText value="#{committee.faculty.facultyName}" />
                                    </p:column>

                                    <p:column headerText="Meeting Freq." filterBy="#{committee.meetingFrequency}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{committee.meetingFrequency}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{committee.meetingFrequency}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{committeeController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

