<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Faculty</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Faculty" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Faculty" /></center>
                                </f:facet>

                                <p:outputLabel for="facultyName" value="Faculty Name: " />
                                <p:inputText value="#{facultyController.faculty.facultyName}" id="facultyName" required="true" />

                                <p:outputLabel for="dean" value="Dean Name: " />
                                <p:inputText value="#{facultyController.faculty.deanName}" id="dean" required="true" />

                                <p:outputLabel for="building" value="Faculty Building: " />
                                <p:inputText value="#{facultyController.faculty.facultyBuilding}" id="building" required="true" />

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{facultyController.addFaculty}" id="facultyAddFormSubmit" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Faculty List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="fac" value="#{facultyController.facultyList}" filteredValue="#{facultyController.filteredFaculty}" rowKey="#{fac.facultyName}" selection="#{facultyController.selectedFaculty}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{facultyController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{facultyController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Faculty Name" filterBy="#{fac.facultyName}" filterMatchMode="contains">
                                        <h:outputText value="#{fac.facultyName}" />
                                    </p:column>

                                    <p:column headerText="Dean" filterBy="#{fac.deanName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{fac.deanName}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{fac.deanName}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Building" filterBy="#{fac.facultyBuilding}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{fac.facultyBuilding}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{fac.facultyBuilding}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{facultyController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

