<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Lecturer Course</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Faculty" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Faculty" /></center>
                                </f:facet>

                                <p:outputLabel for="lecturerName" value="Lecturer Name: " />
                                <p:selectOneMenu id="lecturerName" value="#{lecturerCourseController.lecturerCourse.lecturer}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="lec" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{lecturerCourseController.lecturerList}" var="lecturer" itemLabel="#{lecturer.lecturereName}" itemValue="#{lecturer}" />
                                    <p:column>
                                        <h:outputText value="#{lec.lecturereName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel for="comName" value="Course Code: " />
                                <p:selectOneMenu id="comName" value="#{lecturerCourseController.lecturerCourse.course}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="lec" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{lecturerCourseController.courseList}" var="lecturer" itemLabel="#{lecturer.courseCode}" itemValue="#{lecturer}" />
                                    <p:column>
                                        <h:outputText value="#{lec.courseCode}" />
                                    </p:column>
                                </p:selectOneMenu>

                                
                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{lecturerCourseController.addEvent}" id="facultyAddFormSubmit" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Faculty List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="fac" value="#{lecturerCourseController.lecturerCourseList}" filteredValue="#{lecturerCourseController.filteredLecturerCourses}" rowKey="#{fac.course.courseCode}" selection="#{facultyController.selectedFaculty}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{lecturerCourseController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{lecturerCourseController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Lecturer Name" filterBy="#{fac.lecturer.lecturereName}" filterMatchMode="contains">
                                        <h:outputText value="#{fac.lecturer.lecturereName}" />
                                    </p:column>
                                    

                                    <p:column headerText="Course Code" filterBy="#{fac.course.courseCode}" filterMatchMode="contains">
                                        <h:outputText value="#{fac.course.courseCode}" />
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{facultyController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

