<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Lecturer</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Lecturer" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Lecturer" /></center>
                                </f:facet>
                                
                                <p:outputLabel for="schoolName" value="School Name: " />
                                <p:selectOneMenu id="schoolName" value="#{lecturerController.lecturer.school}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="sch" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{lecturerController.schoolList}" var="school" itemLabel="#{school.schoolName}" itemValue="#{school}" />
                                    <p:column>
                                        <h:outputText value="#{sch.schoolName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel for="lecturerName" value="Supervisor Name: " />
                                <p:selectOneMenu id="lecturerName" value="#{lecturerController.lecturer.supervisor}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="lec" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{lecturerController.lecturerList}" var="lecture" itemLabel="#{lecture.lecturereName}" itemValue="#{lecture}" />
                                    <p:column>
                                        <h:outputText value="#{lec.lecturereName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel value="Lecturer Name: " />
                                <p:inputText value="#{lecturerController.lecturer.lecturereName}" required="true" />

                                <p:outputLabel value="Lecturer Title: " />
                                <p:inputText value="#{lecturerController.lecturer.lecturertitle}" required="true" />

                                <p:outputLabel value="Office Room: " />
                                <p:inputText value="#{lecturerController.lecturer.officeRoom}" required="true" />

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{lecturerController.addLecturer}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="School List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="lecturer" value="#{lecturerController.lecturerList}" filteredValue="#{lecturerController.filteredLecturers}" rowKey="#{lecturer.staffId}" selection="#{lecturerController.selectedLecturer}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{lecturerController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{lecturerController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="#" filterBy="#{lecturer.staffId}" filterMatchMode="contains">
                                        <h:outputText value="#{lecturer.staffId}" />
                                    </p:column>

                                    <p:column headerText="Lecturer Name" filterBy="#{lecturer.lecturereName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{lecturer.lecturereName}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{lecturer.lecturereName}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="School Name" filterBy="#{lecturer.school.schoolName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{lecturer.school.schoolName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{lecturer.school}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="sch" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{lecturerController.schoolList}" var="school" itemLabel="#{school.schoolName}" itemValue="#{school}" />
                                                    <p:column>
                                                        <h:outputText value="#{sch.schoolName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Supervisor Name" filterBy="#{lecturer.supervisor.lecturereName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{lecturer.supervisor.lecturereName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu id="facultyName" value="#{lecturer.supervisor}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="sup" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{lecturerController.lecturerList}" var="supervisor" itemLabel="#{supervisor.lecturereName}" itemValue="#{supervisor}" />
                                                    <p:column>
                                                        <h:outputText value="#{sup.lecturereName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Title" filterBy="#{lecturer.lecturertitle}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{lecturer.lecturertitle}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{lecturer.lecturertitle}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Room" filterBy="#{lecturer.officeRoom}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{lecturer.officeRoom}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{lecturer.officeRoom}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{lecturerController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

