<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Pre Course</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Course" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Pre Course" /></center>
                                </f:facet>

                                <p:outputLabel for="courseCode" value="Course Code: " />
                                <p:selectOneMenu id="courseCode" value="#{preCourseController.preCourse.course}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cou" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{preCourseController.courseList}" var="course" itemLabel="#{course.courseCode}" itemValue="#{course}" />
                                    <p:column>
                                        <h:outputText value="#{cou.courseCode}" />
                                    </p:column>
                                </p:selectOneMenu>


                                <p:outputLabel for="precourseCode" value="Pre Course Code: " />
                                <p:selectOneMenu id="precourseCode" value="#{preCourseController.preCourse.preCourse}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="precou" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{preCourseController.courseList}" var="course" itemLabel="#{course.courseCode}" itemValue="#{course}" />
                                    <p:column>
                                        <h:outputText value="#{precou.courseCode}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{courseController.addCourse}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Pre Course List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="precourse" value="#{preCourseController.preCourseList}" filteredValue="#{preCourseController.filteredPreCourse}" rowKey="#{precourse.course.courseCode}" selection="#{preCourseController.selectedPreCourse}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{preCourseController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{preCourseController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Course Code" filterBy="#{precourse.course.courseCode}" filterMatchMode="contains">
                                        <h:outputText value="#{precourse.course.courseCode}" />
                                    </p:column>

                                    <p:column headerText="Pre Course Code" filterBy="#{precourse.preCourse.courseCode}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{precourse.preCourse.courseCode}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{precourse.preCourse}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cou" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{preCourseController.courseList}" var="course" itemLabel="#{course.courseCode}" itemValue="#{course}" />
                                                    <p:column>
                                                        <h:outputText value="#{cou.courseCode}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{courseController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

