<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Programme</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Programme" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Programme" /></center>
                                </f:facet>
                                
                                <p:outputLabel value="Programme Code: " />
                                <p:inputText value="#{programmeController.programme.programmeCode}" required="true" />

                                <p:outputLabel value="Programme Title: " />
                                <p:inputText value="#{programmeController.programme.programmeTitle}" required="true" />

                                <p:outputLabel for="schoolName" value="School Name: " />
                                <p:selectOneMenu id="schoolName" value="#{programmeController.programme.school}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="sch" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{programmeController.schoolList}" var="school" itemLabel="#{school.schoolName}" itemValue="#{school}" />
                                    <p:column>
                                        <h:outputText value="#{sch.schoolName}" />
                                    </p:column>
                                </p:selectOneMenu>
                                
                                <p:outputLabel value="Programme Level: " />
                                <p:inputText value="#{programmeController.programme.programmeLevel}" required="true" />

                                <p:outputLabel value="Programme Lenth: " />
                                <p:inputText value="#{programmeController.programme.programmeLenth}" required="true" />

                                
                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{programmeController.addProgramme}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Programme List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="programme" value="#{programmeController.programmeList}" filteredValue="#{programmeController.filteredProgramme}" rowKey="#{programme.programmeCode}" selection="#{programmeController.selectedProgramme}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{programmeController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{programmeController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Code" filterBy="#{programme.programmeCode}" filterMatchMode="contains">
                                        <h:outputText value="#{programme.programmeCode}" />
                                    </p:column>
                                    
                                    <p:column headerText="Title" filterBy="#{programme.programmeTitle}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{programme.programmeTitle}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{programme.programmeTitle}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="School Name" filterBy="#{programme.school.schoolName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{programme.school.schoolName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{programme.school}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="sch" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{programmeController.schoolList}" var="school" itemLabel="#{school.schoolName}" itemValue="#{school}" />
                                                    <p:column>
                                                        <h:outputText value="#{sch.schoolName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Level" filterBy="#{programme.programmeLevel}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{programme.programmeLevel}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{programme.programmeLevel}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Lenth" filterBy="#{programme.programmeLenth}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{programme.programmeLenth}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{programme.programmeLenth}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{programmeController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

