<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>School</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="School" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add School" /></center>
                                </f:facet>

                                <p:outputLabel for="schoolName" value="School Name: " />
                                <p:inputText value="#{schoolController.school.schoolName}" id="schoolName" required="true" />

                                <p:outputLabel for="campusName" value="Campus Name: " />
                                <p:selectOneMenu id="campusName" value="#{schoolController.school.campus}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cam" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{schoolController.campusList}" var="campus" itemLabel="#{campus.campusName}" itemValue="#{campus}" />
                                    <p:column>
                                        <h:outputText value="#{cam.campusName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel for="facultyName" value="Faculty Name: " />
                                <p:selectOneMenu id="facultyName" value="#{schoolController.school.faculty}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="fac" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{schoolController.facultyList}" var="faculty" itemLabel="#{faculty.facultyName}" itemValue="#{faculty}" />
                                    <p:column>
                                        <h:outputText value="#{fac.facultyName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <p:outputLabel for="building" value="School Building: " />
                                <p:inputText value="#{schoolController.school.schoolBulding}" id="building" required="true" />

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{schoolController.addSchool}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="School List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="school" value="#{schoolController.schoolList}" filteredValue="#{schoolController.filteredSchools}" rowKey="#{school.schoolName}" selection="#{schoolController.selectedSchool}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{schoolController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{schoolController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="School Name" filterBy="#{school.schoolName}" filterMatchMode="contains">
                                        <h:outputText value="#{school.schoolName}" />
                                    </p:column>

                                    <p:column headerText="Campus Name" filterBy="#{school.campus.campusName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{school.campus.campusName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{school.campus}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cam" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{schoolController.campusList}" var="campus" itemLabel="#{campus.campusName}" itemValue="#{campus}" />
                                                    <p:column>
                                                        <h:outputText value="#{cam.campusName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Faculty Name" filterBy="#{school.faculty.facultyName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{school.faculty.facultyName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu id="facultyName" value="#{school.faculty}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="fac" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{schoolController.facultyList}" var="faculty" itemLabel="#{faculty.facultyName}" itemValue="#{faculty}" />
                                                    <p:column>
                                                        <h:outputText value="#{fac.facultyName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Building" filterBy="#{school.schoolBulding}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{school.schoolBulding}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{school.schoolBulding}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{schoolController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

