<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Club</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Sports" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Sports" /></center>
                                </f:facet>

                                <p:outputLabel for="sportsName" value="Sports Name: " />
                                <p:inputText value="#{sportsController.sport.sportName}" id="sportsName" required="true" />

                                <p:outputLabel for="clubName" value="Club Name: " />
                                <p:selectOneMenu id="clubName" value="#{sportsController.sport.club}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cl" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{sportsController.clubList}" var="club" itemLabel="#{club.clubName}" itemValue="#{club}" />
                                    <p:column>
                                        <h:outputText value="#{cl.clubName}" />
                                    </p:column>
                                </p:selectOneMenu>

                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{sportsController.addSports}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Club List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="sports" value="#{sportsController.sportList}" filteredValue="#{sportsController.filteredSports}" rowKey="#{sports.sportName}" selection="#{sportsController.selectedSport}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{sportsController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{sportsController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Sports Name" filterBy="#{sports.sportName}" filterMatchMode="contains">
                                        <h:outputText value="#{sports.sportName}" />
                                    </p:column>

                                    <p:column headerText="Club Name" filterBy="#{sports.club.clubName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{sports.club.clubName}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu id="clubName" value="#{sports.club}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="cl" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{sportsController.clubList}" var="club" itemLabel="#{club.clubName}" itemValue="#{club}" />
                                                    <p:column>
                                                        <h:outputText value="#{cl.clubName}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{sportsController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

