<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Student</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:growl id="msgs" showDetail="true"/>

            <p:layout fullPage="true">

                <!-- Auto Content Start -->     
                <ui:decorate template="autocontent.xhtml" />
                <!-- Auto Content End -->       

                <p:layoutUnit position="center">
                    <p:panelGrid columns="2" style="width: 100%; height: auto">

                        <f:facet name="header">
                            <center><h:outputText value="Course" /></center>
                        </f:facet>

                        <h:form id="addForm">
                            <p:panelGrid id="addPanel" columns="2" style="width: 100%; height: auto">
                                <f:facet name="header">
                                    <center><h:outputText value="Add Student" /></center>
                                </f:facet>
                                
                                <p:outputLabel value="Student Name: " />
                                <p:inputText value="#{studentController.student.studentName}" required="true" />

                                <p:outputLabel for="programName" value="Program Name: " />
                                <p:selectOneMenu id="programName" value="#{studentController.student.programme}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="prog" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                    <f:selectItems value="#{studentController.programmeList}" var="program" itemLabel="#{program.programmeCode}" itemValue="#{program}" />
                                    <p:column>
                                        <h:outputText value="#{prog.programmeCode} - #{prog.programmeTitle}" />
                                    </p:column>
                                </p:selectOneMenu>
                                
                                <p:outputLabel value="Birth Day: " />
                                <p:inputText value="#{studentController.student.studentBirthDay}" required="true" />
                                
                                <p:outputLabel value="Year Entrolled: " />
                                <p:inputText value="#{studentController.student.yearEnroll}" required="true" />
                                
                                <f:facet name="footer">
                                    <center> <p:commandButton oncomplete="PF('widTable').filter()" value="Submit" resetValues="true" update="msgs, listForm, addForm" actionListener="#{studentController.addStudent}" /> </center>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                        <p:panelGrid columns="1" style="width: 100%; height: auto">

                            <f:facet name="header">
                                <center><h:outputText value="Student List" /></center>
                            </f:facet>

                            <h:form id="listForm">
                                <p:dataTable id="listTable" var="student" value="#{studentController.studentList}" filteredValue="#{studentController.filteredStudent}" rowKey="#{student.studentId}" selection="#{studentController.selectedStudent}" selectionMode="single" editable="true" style="margin-bottom:20px" widgetVar="widTable">

                                    <p:ajax event="rowEdit" listener="#{studentController.onRowEdit}" update=":msgs" />
                                    <p:ajax event="rowEditCancel" listener="#{studentController.onRowCancel}" update=":msgs" />

                                    <f:facet name="header">
                                        <p:outputPanel>
                                            <h:outputText value="Search all fields:" />
                                            <p:inputText id="globalFilter" onkeyup="PF('widTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                                        </p:outputPanel>
                                    </f:facet>

                                    <p:column headerText="Id" filterBy="#{student.studentId}" filterMatchMode="contains">
                                        <h:outputText value="#{student.studentId}" />
                                    </p:column>
                                    
                                    <p:column headerText="Name" filterBy="#{student.studentName}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{student.studentName}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{student.studentName}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Program Code" filterBy="#{student.programme.programmeCode}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{student.programme.programmeCode}" /></f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{student.programme}" converter="entityConverter" panelStyle="width:180px" effect="fade" var="prog" style="width:160px" filter="true" filterMatchMode="startsWith" required="true">
                                                    <f:selectItems value="#{studentController.programmeList}" var="program" itemLabel="#{program.programmeCode}" itemValue="#{program}" />
                                                    <p:column>
                                                        <h:outputText value="#{prog.programmeCode}" />
                                                    </p:column>
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    
                                    <p:column headerText="Bday" filterBy="#{student.studentBirthDay}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{student.studentBirthDay}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{student.studentBirthDay}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    
                                    <p:column headerText="Entrolled" filterBy="#{student.yearEnroll}" filterMatchMode="contains">
                                        <p:cellEditor>
                                            <f:facet name="output"><h:outputText value="#{student.yearEnroll}" /></f:facet>
                                            <f:facet name="input"><p:inputText value="#{student.yearEnroll}" style="width:100%" required="true" /></f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    
                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                                <p:contextMenu for="listTable">
                                    <p:menuitem value="Delete" update=":listForm:listTable" oncomplete="PF('widTable').filter()" icon="ui-icon-close" actionListener="#{studentController.onRowDelete}"/>
                                </p:contextMenu>

                            </h:form>

                        </p:panelGrid>
                    </p:panelGrid>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

